.flexbox {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-evenly;
  }

  .align{
    display: flex;
    flex-direction: row;
  }

  .acrossWorld{
    display : flex;
    flex-direction : row;
    justify-content: space-around;
    /* flex-basis: content; */
    /* align-items: center; */
    justify-content: center;
    margin-left : 15px;
    margin-bottom : 40px;
    width  : 25%;
    border: 1px solid rgb(206, 205, 205 );
    background-color : rgba(129, 125, 125, 0.5);
    border-radius: 5px;
  }
  
  
  .button {
    display: flex;
    text-align: left;
    flex-direction: row;
    margin-left: 10px;
    flex-basis: content;
    align-items: center;
    margin: 20px;
    /* justify-content : space-evenly */
  }
  
  div > button {
    margin-right: 10px;
  }
  